# Environments
.venv/
env/
venv/
__pycache__/

# Distribution / Packaging
# dist/  <-- Cho phép upload folder dist chứa file EXE
build/
*.spec

# IDEs
.vscode/
.idea/

# Logs
*.log

# System
Thumbs.db
Desktop.ini

# User Config
.folder_size_manager_config.json
